<div class="px-4 py-8">
    {% paginate collection.products by section.settings.product_limit%}
    <h1 class="text-3xl text-center">{{ collection.title }}</h1>

    <div class="max-w-6xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for product in collection.products %}
            <div class="w-full py-6 px-3">
                <div class="obrder bg-white shadow-lg rounded-lg overflow-hidden">
                    <a href="{{ product.url }}">
                        {% if product.featured_image %}
                            <div class="h-80 overflow-hidden">
                                <img class="w-full h-full object-cover" src="{{ product.featured_image |  img_url: 'medium' }}" alt="{{ product.title }}">
                            </div>
                        {% endif %}
                       
                    </a>
                    <div class="flex flex-col p-4">
                        <span class="text-sm text-gray-400">{{ product.vendor }}</span>
                        <a class="text-gray-700 uppercase font-medium" href="{{ product.url }}">{{ product.title }}</a>
                        <p class="text-gray-500">{{ product.price | money }}</p>
                    </div>
                </div>
            </div>

            {% else %}
            {% if section.settings.no_collections == blank %}
            {% assign no_collections = 'general.Collection.no_collections' | t %}
            {% else %}
            {% assign no_collections = section.settings.no_collections%}
            {% endif %}
            <p>{{ no_collections }}</p>
            {% endfor %}
        </div>
    </div>

    {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
</div>


{% schema %}
{
"name": "Collections",
"settings": [
{
"type": "number",
"id": "product_limit",
"label": "Product limit",
"default": 12
},
{
"type": "text",
"id": "no_collections",
"label": "No Collections Text",
}
],
"blocks": []
}
{% endschema %}